{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Dando estilo a tablas</title>

	<link rel="stylesheet" href="{% static 'expedien/css/tabla.css' %}">
</head>
<body>


                <article class="content responsive-tables-page">
                    <div class="title-block">
                        <h1 class="title"> PRUEBAS </h1>
                        <p class="title-description"> Listado de pruebas </p>
                    </div>

        
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="card-title-block">
                                            <!-- <h3 class="title">Reclamos</h3> -->
                                        </div>
                                        
                                        
                                        <section class="example">
                                            <div class="table-responsive">
                                                <table id="example2" class="table table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>FECHA</th>
                                                            <th>PRUEBA</th>
                                                            <th>OBSERVACION</th>                                                            
                                                            <th>Opciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    	{% for fila in list_rec %}
                                                        <tr>
                                                            <td>{{ fila.id }}
                                                            <td>{{ fila.Fecha }}</td>
                                                            <td>{{ fila.tipo_prueba}}</td>
                                                            <td>{{ fila.Observacion }}</td>                                                             
                                                            <td>


                                                    <div class="btn-group">

                                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-wrench"></i></button>
                                                
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">volver</a>                                                    
                                                    <div class="dropdown-divider"></div>                                                    
                                                </div>
                                                     </div>
                                                            
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </article>
  </body>
</html>
